<div class="container-fluid bg-dark">
    <div class="row brand text-center" style="width: 100%;">
        <span>NEWSTARTICA</span>
    </div>
    <div class="row d-flex">
        <div class="col d-flex">
            <ul>
                <li>Contact Us </li>
                <li>Advertise</li>
                <li>About Developer</li>
                <li>Privacy Policy</li>
                <li>Feedback</li>
            </ul>
        </div>
        <div class="col">
            Follow Us
        </div>
    </div>
    <div class="row copyright text-center">
        <span>©2024 Newstartica All Rights Reserved.</span>
    </div>
</div>
