
  button{
    position: relative;
    bottom: 0ch;
    opacity: 0.8;
  }
  .news-container{
    overflow-y: auto;
    margin-bottom: 20px;
    /* position: sticky;
    top: 0; */
  }
  .second-column{
    position: relative;
   
  }

  /* vertical side nav */
  .categories{
    width: 140px; 
    z-index: -1; 
    position: sticky; 
    top: 0;
    bottom: 0;
    transition: width 1s ease-in-out;
    /* height: 100%; */
  }
.categories-transition{
  width: 0px;
  position: relative;
}
  

.side-nav{
  position: relative;
  width: 200px;
  bottom:0;
  transition: width 1s ease-in-out;
}

.side-nav-transition{
    width: 0px;
}
/* heading setting + title settings */
.news-title-anchor-link{
  font-family: 'Marcellus'; 
  font-weight: bold;
  text-decoration: none; 
  /* font-size: calc(20px+1vp); */
  color: rgb(53, 52, 52);
  /* color:rgb(3, 128, 201); */
}

/* heading setting below */
.topics{
  font-size: 20px;
  font-family: 'Marcellus'; 
  font-weight: bold;
  text-decoration: none; 
  color: rgb(53, 52, 52);
}
.navbar-nav{
  font-family: 'poppins'; 
}
.card-test{
  width: 10rem;
  height: 10rem;
}
@media only screen and (max-width: 1400px) {
  /* .second-column {
    display: none;
  } */
  .side-nav{
    width: 100%;
  }
  .card-test{
    height: 6rem;
    width: 6rem;
  }
    .categories-p{
        display: none;
    }
    .screen{
      justify-content:center;
    }

    .mid-news{
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 620px) {
  .test{
    font-size: 15px !important;
  }
}


.sports-column{
 font-size: 12px; 
 overflow-x: hidden; 
 overflow-y: hidden;
 font-family: Marcellus;
}
/* .card-image-top{
  object-fit:cover;
  width: 100%;
  height: 100%;
} */

img{
  overflow-y:  hidden;
}

/* .card-body{
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.screen{
  border: 1px solid black;
}

.blurred-image {
  filter: blur(1.5px); /* Adjust the px value to increase/decrease blur */
}


.card-dimension{
    height: auto;
    width: auto;
}


