<div class="fix">

    <div class="categories bg-danger overflow-hidden">
        <input class="ms-1 mt-3 overflow-hidden " placeholder="Search News" type="search" name=""
            style="background-color: rgb(230, 226, 226); width: 150px; font-family: 'Poppins';" id="">
        <div class="navbar-nav text-center overflow-hidden  text-light">
            <li class="nav-item">
                <a class="nav-link" href="#">Sports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Agriculture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">World</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Entertainment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Finance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Politics</a>
            </li>
        </div>
    </div>
</div>