<div class="container my-5">

    
    <div class="row flex-column justify-content-center align-items-center">
        <div class="col-8 text-center">
            <h1 style="font-family: 'Atkinson Hyperlegible', sans-serif; font-size:50px;">Greetings, Wanderers!</h1>
        </div>
        <div class="col-8">
            <p style="overflow: hidden; font-family: 'Atkinson Hyperlegible', sans-serif; font-size: 25px; color: rgb(120, 117, 117);">
                Welcome to JSB, a personal project designed and developed by Jasdeep Batra. JSB is a versatile website
                that
                offers you
                range of services such as JourneyBus, Newstartica, Blogging etc. Visit profile to know more about
                developer.
            </p>
        </div>
    </div>
</div>

