<div class="container">
    <div class="row  bg-primary my-5" style="--bs-bg-opacity: .5;">
        <div class="col-3 my-3 mx-3">
            <div class="card shadow">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                        Lorem ipsum dolor sit amet consectetur.
                    </p>
                    <a href="#" class="btn btn-primary"
                    style="font-family: 'Poppins', sans-serif; color: white;">Expand
                    &#10097;</a>
                </div>
            </div>
        </div>
        <div class="col card text-center my-3" style="font-size: 80px; padding-top: 50px; font-family: 'Open sans';">
            <!-- <div>
                Enter Newstartica
            </div>
            <a href="#" class="btn btn-primary"
                    style="font-family: 'Poppins', sans-serif; color: white;">Expand
                    &#10097;
            </a> -->
            <div class="wrapper">
                <div class="marquee">
                  <p>
                    Visit Newstar  
                  </p>
                  <p>
                    tica  Visit Newstartica Visit Newstartica
                  </p>
                </div>
              </div>
              <a href="#" class="btn btn-primary"
                    style="position: absolute; right: 0%; bottom: 0%; font-family: 'Poppins', sans-serif; color: white; width: 100px;">Expand
                    &#10097;
            </a>
        </div>
        
    </div>
</div>
