<!-- <div class="disp row d-flex flex-column" [ngClass]="{'disp_shrink':!isOpen}">
    <div class="col py-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem ea quae temporibus aperiam sed odio possimus maxime minus iste impedit! Cupiditate soluta officiis deserunt nobis et exercitationem facere ad minima!</div>
    <div class="col py-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque optio fuga, quam corrupti voluptatem maiores quasi exercitationem in placeat voluptatibus, omnis quo iure expedita eveniet officiis at cupiditate? Architecto, culpa.</div>
    <div class="col py-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla totam dicta facere recusandae fugit sit iusto libero, explicabo maxime et impedit placeat velit rem mollitia veritatis expedita, quidem sed consequuntur?</div>
    <div class="col py-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non earum voluptas ad ea, vero animi. Vitae, delectus earum. Molestias necessitatibus commodi voluptas ipsa, qui quidem quam sit! Molestiae, nisi cupiditate!</div>
    <div class="col py-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet beatae praesentium earum officiis ratione deleniti explicabo sint nulla, illo non. Distinctio placeat optio assumenda quo tempora aliquam minima magni consectetur!</div>
    <div class="col py-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum obcaecati vitae atque quo architecto, autem perferendis? Quidem quam pariatur voluptatum placeat veritatis fugit rerum quibusdam. In laborum nihil blanditiis voluptatum!</div>
    <div class="col py-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quod exercitationem maiores et possimus totam accusamus natus maxime. Iste perspiciatis exercitationem distinctio ut impedit eius provident quos non consectetur harum.</div>
    <div class="col py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, mollitia cum velit pariatur iure, ratione autem dignissimos qui voluptatibus quasi maiores. Esse soluta nisi eos dolores odit labore. Commodi, facere!</div>
    <div class="col py-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos magnam obcaecati optio iusto enim quas eos id accusantium! Ullam aliquam totam quaerat ducimus, corrupti iusto suscipit harum nihil eos saepe.</div>
    <div class="col py-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime dolor autem velit quibusdam sed minus? Doloribus inventore, numquam praesentium expedita in, fugiat quasi quas nobis officia, eius cumque minus totam?</div>
</div> -->
<div class="button-position" [ngClass]="{'make-list-open-btn':isOpen}">
    <button class="btn btn-dark" (click)="toggleCollapse()" style=" font-family: 'Cinzel';">J<br>
        S<br>
        B
    </button>
</div>
<div [ngClass]="{'make-list-open':isOpen}"class="help-trans d-flex side-nav-parent">
    <div class="bg-light" style="font-family: 'Cinzel';">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">JourneyBus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Newstartica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
        </ul>
    </div>

</div>