<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand nfnt" href="#">JSB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link nfnt" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nfnt" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nfnt" href="#">JourneyBus</a>
          </li>
          <li class="nav-item nfnt">
            <a routerLink="/newstartica" class="nav-link" href="#">Newstartica</a>
          </li>
          <li class="nav-item nfnt">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>      
  </nav>
</div>

